<h1 style="color:#ecf0f1;font-family:'Roboto',sans-serif!important;">Olá Seja bem Vindoooo</h1>
<input type="email" khan-model="texto" placeholder="email@email.com"/>
<br/>
<input type="text" khan-view="texto" placeholder="Model e View 1 Com Inputs"/>
<br/>
<input type="text" khan-model="texto2" placeholder="Model e View 2 Com Inputs"/>
<br/>
<input type="text" khan-view="texto2" placeholder="Model e View 2 Com Inputs"/>
<br/>
<input type="text" khan-model="texto3" placeholder="Model e View 3 Com Input e Div"/>
<br/>
<div khan-view="texto3">Model e View 3 Com Input e Div</div>
<br/>
<div khan-txt-animate>Ola meu nome e Paulao</div>

<!--<img khan-img-src="http://i1366.photobucket.com/albums/r767/solucaoprint/SPFC03_zpsb13c529a.jpg" height="400" width="400" />-->
